services:
    app:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        image: predictor-app
        container_name: predictor-app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - ./:/var/www
        networks:
            - predictor-network

    web:
        image: nginx:alpine
        container_name: predictor-web
        restart: unless-stopped
        ports:
            - "8000:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - predictor-network

    db:
        image: mysql:8.0
        container_name: predictor-db
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE:-laravel}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-root}
            MYSQL_PASSWORD: ${DB_PASSWORD:-root}
            MYSQL_USER: ${DB_USERNAME:-root}
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        volumes:
            - dbdata:/var/lib/mysql
        networks:
            - predictor-network

    redis:
        image: redis:alpine
        container_name: predictor-redis
        restart: unless-stopped
        networks:
            - predictor-network

networks:
    predictor-network:
        driver: bridge

volumes:
    dbdata:
        driver: local
